body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

#topbar{
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}

#logo{
    margin-top:8px;
    width: 100px;
    float: left;
    margin-right: 8px;
}

#signin-image{
    width: 25px;
    margin:11px 15px;
    float: left;

}

#signin-text{
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 14px;
    padding-right: 30px;
}

#bell-div{
    float: left;
}

#bell-text{
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 14px;
    padding:0 10px;
}


.topbar-section{
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
} 

.topbar-menu{
    font-weight: bold;
    font-size: 90%;
    padding:13px 15px 0 15px;
    height: 27px;
}

#search-box{
    background-color: #E4E4E4;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 6px;
    margin:5px 0px 5px 5px;
    float: left;
}

#search-icon{
    background-color: #E4E4E4;
    padding: 5px;
    margin:5px 0px 5px 0px;
    float: left;
}

